app = "ipfs-node"

[mounts]
  source = "ipfs_data"
  destination = "/data/ipfs"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
